.ant-layout {
    height: 100vh;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}
#title-text {
    color: white;
    line-height: 1.5;
    margin-right: 40px;
}

#main-search-bar {
    width: 30vw;
    margin-top: 1.4vh;
}

.ant-layout-content {
    margin-top: 64px;
    overflow-y: auto;
}

#book-shelf {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);;
    justify-content: space-around;
}

.book {
    width: 400px;
    height: 440px;
    margin-top: 10px;
}
.book > .ant-card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "book-cover book-description" 
                         "price-info price-info";
} 
.book-cover { 
    grid-area: book-cover; 
    height: 260px;
}
.book-cover img { 
    height: 260px;
}
.book-description { 
    grid-area: book-description;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.price-info { 
    grid-area: price-info; 
}

    

